<div class="card" style="width: 18rem;">
  <%= image_tag 'artiste', alt: 'Un artiste sur scène', class: 'card-img-top mt-2 radius' %>
  <div class="card-body">
    <h5 class="card-title">Je suis un artiste</h5>
    <p class="card-text">Et je souhaite louer une salle afin de jouer dans des conditions profesionnelles</p>
    <a href="/arenas" class="btn btn-primary white">Jouer</a>
  </div>
</div>
