<div class="card" style="width: 18rem;">
  <%= image_tag 'artiste', alt: 'Un artiste sur scène', class: 'card-img-top mt-2 radius' %>
  <div class="card-body">
    <h5 class="card-title">Mes réservations</h5>
    <p class="card-text">Je consulte / modifie / annule mes réservations en cours</p>
    <a href="/booking/mine" class="btn btn-primary white">Jouer</a>
  </div>
</div>
