<div class="card" style="width: 18rem;">
  <% if current_user.arenas.count == 0 %>
    <%= image_tag 'arena', alt: 'Une arena', class: 'card-img-top mt-2 radius' %>
  <% else %>
    <%= cl_image_tag current_user.arenas.first.photo.key, class: 'card-img-top mt-2 radius', alt: 'Mon arena' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">Voir mes salles</h5>
    <p class="card-text">Voir mes salles et leurs réservations</p>
    <a href="/arenas/mine" class="btn btn-primary white">Mes arenas</a>
  </div>
</div>
