// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
}

#logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

#sign-in a, #sign-up a {
  text-decoration: none;
}

#sign-up a, #sign-in a:hover {
  color: white;
}
