<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-around py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" id="logo">
    BookArena
  </a>

  <div class="col-md-3 text-end d-flex" id="buttons">
    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-outline-primary me-2" %>
      <%= link_to edit_user_registration_path, class: "btn btn-primary" do %>
        Profile
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "btn btn-outline-primary me-2" do %>
        Login
      <% end %>
      <%= link_to new_user_registration_path, class: "btn btn-primary me-2" do %>
        Sign-up
      <% end %>
    <% end %>
  </div>
</header>
